
        h2{text-align:center;}
        h2{background-color: #d026d6c7;}

        /* h1{text-align: center;}
        h1{background-color: pink;} */

        h3{text-align: center;}
        h3{background-color: aquamarine;}
        
    